@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.row {
  //display: flex;

  @media (min-width: 768px) {
  display: flex;
  }
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin:  0 0 20px;
}
h1, h2, h3{
  font-weight: 400;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.sidebar {
  position: relative;
  width: 100%;
  min-width: 300px;
  margin: 0 auto 30px;
  @media (min-width: 768px) {
    margin: 0;
    width: 30%;
    padding-left: 30px;

  }
}

.tabs-block{
  .title{
    padding: 10px 20px;
    background: #080220;
letter-spacing: 0.5px;
    color: #fff;
  }
}

.tab {
  position: relative;
  &.active a {
    background: #C4B9EF;
    cursor: default;
    pointer-events: none;
  }
  a {
    background: #26146F;
    display: block;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid #5588cc;
    //border-top: 0;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
      background: rgba(#26146F, .9);
    }

  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
    //color: #fff;
    cursor: pointer;
    &:before,
    &:after{
      position: absolute;
      content: "";
      height: 2px;
      width: 14px;
      top: 9px;
      left: 3px;
      background: #fff;
      transition: background .3s ease;

    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
    &:hover{
      &:before,
      &:after{
        background: red;
      }
    }
  }
}

.main {
  flex: 1;
}

.add-form {
  position: relative;
  padding: 40px 40px;
  background: rgba(#666, .5);
}

.form-block{
  position: relative;
  display: flex;
}

.field{
  display: block;
  height: 40px;
  flex: 1;
  padding: 10px;
  border: 0;
  font-size: 18px;
  background: #fff !important;
  &:focus{
    outline: none;
  }
}

input:-webkit-autofill{
  background-color: #fff !important;
}

.add-button{
  height: 40px;
  width: 100px;
  border-radius: 0;
  font-size: 18px;
  border: 0;
  background: #080220;
  color: #fff;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  &:active,
  &:focus{
    outline: none;
  }
}

.show-block{
  padding: 20px 40px;
  .item{
    margin: 0 0 4px;
  }
}
.city-head{
  display: flex;
  line-height: 50px;
  h2{
    margin-right: 6px;
  }
}